<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Campus - Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gradient-to-br from-blue-900 to-blue-600 min-h-screen flex items-center justify-center">

    <!-- MAIN CARD -->
    <div class="bg-white w-[420px] p-10 rounded-2xl shadow-2xl text-center">

        <!-- LOGO -->
        <div class="w-16 h-16 bg-blue-600 text-white flex items-center justify-center rounded-xl mx-auto mb-4 text-2xl font-bold">
            SC
        </div>

        <!-- TITLE -->
        <h1 class="text-3xl font-bold text-slate-800">
            Smart Campus
        </h1>

        <p class="text-sm text-slate-500 mt-2">
            Student & Teacher Management System
        </p>

        <!-- BUTTONS -->
        <div class="mt-8 space-y-3">

            <!-- LOGIN -->
            <a href="/login"
               class="block w-full bg-blue-600 text-white py-3 rounded-xl font-bold">
               Login
            </a>

            

            <!-- SIGNUP -->
            <a href="/signup"
                class="block w-full bg-gray-200 text-black py-3 rounded-xl font-bold">
                Create Account
            </a>

        </div>

        <!-- FOOTER -->
        <p class="text-xs text-slate-400 mt-6">
            © 2026 Smart Campus System
        </p>

    </div>

</body>
</html>